RewriteEngine On

RewriteRule ^exercises/?$ exercises.php [L,QSA]
RewriteRule ^exercises/(.*)$ exercises.php/$1 [L,QSA]

<Files "bootstrap.php">
  Require all denied
</Files>
<Files "bootstrap-auth.php">
  Require all denied
</Files>
